<!doctype html>
<html lang="es">
<head>
    <title>Gracias - Fundación Los Claveles</title>
    <link href="/css/css.css" rel="stylesheet" />
</head>
<body>
<h1 id="logo" class="fs-24 open-sans fw-600">Fundación Los Claveles</h1>

<nav id="main-menu">
    <a class="boton" href="#">Ayudar</a>
</nav>

<div id="bg-img1">
    <div></div>
</div>

<section id="call-to-action">
    <h2 class="fs-40 open-sans fw-600">
        Gracias <span data-th-text="${socio.nombreCompleto}">Juan</span> por registrarte como socio.
    </h2>
    <p>

    </p>
</section>
</body>
</html>
